<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Inventario</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanInventario.actionReporte()}" />
			<p:menuitem value="Agregar Producto" icon="pi pi-plus"
				action="#{beanInventario.actionMenuNuevoProducto()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>

		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Inventario"></p:staticMessage>
	</h:form>
	<div>
		<h:form id="tabla">
			<p:dataTable value="#{beanInventario.listProductos}" var="i"
				paginator="true" rows="5">
				<p:column headerText="ID" style="width:100px">
					<h:outputText value="#{i.idProducto}" />
				</p:column>
				<p:column headerText="NOMBRE" filterBy="#{i.descripcion}"
					filterMatchMode="contains">
					<h:outputText value="#{i.descripcion}" />
					
				</p:column>
				<p:column headerText="CANTIDAD STOCK" style="width:100px">
					<h:outputText value="#{i.cantidad}" />
				</p:column>
				<p:column headerText="MODIFICAR">
					<p:commandButton icon="pi pi-pencil" title="editar"
						styleClass="rounded-button"
						action="#{beanInventario.actionSeleccionarEdicionProducto(i)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanInventario.actionListenerEliminarProducto(i.idProducto)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este Producto?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>

		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			responsive="true" width="350">
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no ui-button-flat" />
			<p:commandButton value="Sí" type="button"
				styleClass="ui-confirmdialog-yes" />
		</p:confirmDialog>

		<p:dialog header="Edición Producto" showEffect="fade" modal="true"
			widgetVar="dialogoEdicion" responsive="true">
			<h:form id="formEdicion" class="ui-fluid">
				<p:panelGrid columns="2">
					<h:outputText value="Descripcion:" />
					<p:inputText value="#{beanInventario.edicionProducto.descripcion}"
						required="true" requiredMessage="Ingrese Descripcion" />
					<h:outputText value="Cantidad:" />
					<p:spinner value="#{beanInventario.edicionProducto.cantidad}"
						required="true" requiredMessage="Ingrese cantidad" />
					<f:facet name="footer">
						<p:commandButton value="Guardar" icon="pi pi-check" update="tabla"
							actionListener="#{beanInventario.actionListenerActualizarEdicionProducto()}"
							process="formEdicion @this" />
						<br />
						<p:commandButton value="Cancelar" icon="pi pi-times"
							class="ui-button-secondary" onclick="PF('dialogoEdicion').hide()" />
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</div>
</body>
</html>
