<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Agregar Producto</title>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Productos"></p:staticMessage>
	</h:form>
	
	<div>
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="Descripcion:" />
				<p:inputText value="#{beanInventario.nuevoProducto.descripcion}" required="true"
					requiredMessage="Ingrese la descripcion del producto" style="width:500px"/>
				<h:outputText value="Cantidad:" />
				<p:inputText value="#{beanInventario.nuevoProducto.cantidad}" required="true"
					requiredMessage="Ingrese la cantidad del producto" style="width:500px"/>
				<p:commandButton value="Guardar" icon="pi pi-save" update="@form"
				actionListener="#{beanInventario.actionListenerInsertarnuevoProducto()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
		
	</div>
</body>
</html>
