<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Compra</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Proveedores" icon="pi pi-users" action="proveedor" />

			<p:menuitem value="Reporte General" icon="pi pi-book"
				action="reportes" />

			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<h:form>
		<p:panelGrid columns="1">
			<h:outputText value="DATOS DE LA COMPRA" />
		</p:panelGrid>
		<p:panelGrid columns="1">
			<p:panelGrid columns="5">
				<h:outputText value="Selecione proveedor:" />
				<p:selectOneMenu value="#{beanCompra.proveedor}">
					<f:selectItems value="#{beanCompra.listaProveedor}" var="c"
						itemLabel="#{c.rucProveedor} #{c.nombre}"
						itemValue="#{c.rucProveedor}"></f:selectItems>
				</p:selectOneMenu>
				<p:commandButton value="GUARDAR" update="f2"
					actionListener="#{beanCompra.actionListenerGuardarCompraMultiple()}" />

			</p:panelGrid>
		</p:panelGrid>
		<p:panelGrid columns="1">
			<p:panelGrid columns="7">
				<h:outputText value="Selecione procducto:" />
				<p:selectOneMenu value="#{beanCompra.idpro}">
					<f:selectItems value="#{beanCompra.listaProducto}" var="c"
						itemLabel="#{c.descripcion} #{c.cantidad}"
						itemValue="#{c.idProducto}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Ingrese cantidad:" />
				<p:spinner min="1" value="#{beanCompra.canti}" />
				<h:outputText value="Ingrese costo por unidad:" />
				<p:spinner value="#{beanCompra.costo}" prefix="$" min="0"
					stepFactor="0.01" />
				<p:commandButton value="Agregar producto" update="@form:,f2"
					actionListener="#{beanCompra.actionListenerAgregarDetalleCompra()}" />
			</p:panelGrid>
		</p:panelGrid>
	</h:form>
	<h:form id="f2">
		<p:dataTable value="#{beanCompra.listaDetalleCompra}" var="p"
			rowIndexVar="row" emptyMessage="Agregue los productos">
			<p:column headerText="ID">
				<h:outputText value="#{p.producto}" />
			</p:column>
			<p:column headerText="NOMBRE">
				<h:outputText value="#{p.nombre}" />
			</p:column>
			<p:column headerText="CANTIDAD">
				<h:outputText value="#{p.cantidad}" />
			</p:column>
			<p:column headerText="COSTO">
				<h:outputText value="#{p.costo}" />
			</p:column>
			<p:column headerText="SUBTOTAL">
				<h:outputText value="#{p.subtotal}">
					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
				</h:outputText>
				<f:facet name="footer">
					<h:outputText value="TOTAL: $" />
					<h:outputText value="#{beanCompra.total}" >
					<f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
					</h:outputText>
				
				</f:facet>
			</p:column>


		</p:dataTable>
	</h:form>
</body>
</html>
