<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<title>Proveedores</title>
</h:head>
<h:body styleClass="white">
	<p:growl>
		<p:autoUpdate />

	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="#{beanCompra.actionMenuCompras()}" />
			<p:menuitem class="white lighten-4" value="Nuevo Proveedor"
				icon="pi pi-plus-circle" oncomplete="PF('dialogoE').show()"
				update=":formE" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<div>
		<p:dialog header="Proveedor Nuevo" showEffect="fade" modal="true"
			widgetVar="dialogoE" responsive="true">
			<h:form id="formE" class="ui-fluid">

				<p:panelGrid class="card-panel grey lighten-5 z-depth-1" columns="2">
					<h:outputText value="RUC:" />
					<p:inputText value="#{beanProveedor.nuevoProveedor.rucProveedor}"
						required="true" requiredMessage="Ingrese RUC" maxlength="13"
						converterMessage="Porfavor ingrese solo digitos"
						validatorMessage="Ingrese un Ruc de 13 digitos">
						<f:validateLength minimum="13" maximum="13" />
						<p:keyFilter mask="num" />
					</p:inputText>

					<h:outputText value="Nombre:" />
					<p:inputText value="#{beanProveedor.nuevoProveedor.nombre}"
						required="true" requiredMessage="Ingrese Nombre">
						<p:keyFilter regEx="/[a-zA-Z]/i" />
					</p:inputText>

					<h:outputText value="Dirección:" />
					<p:inputText value="#{beanProveedor.nuevoProveedor.direccion}"
						required="true" requiredMessage="Ingrese Dirección" />


					<h:outputText value="Telefono:" />
					<p:inputText value="#{beanProveedor.nuevoProveedor.telefono}"
						required="true" requiredMessage="Ingrese Telefono" maxlength="10"
						converterMessage="Porfavor ingrese solo digitos."
						validatorMessage="Ingrese un número de 10 digitos">
						<f:validateLength minimum="10" maximum="10" />
						<p:keyFilter mask="num" />
					</p:inputText>


					<h:outputText value="Correo" />
					<p:inputText value="#{beanProveedor.nuevoProveedor.correo}"
						required="true" requiredMessage="Ingrese Correo"
						converterMessage="Porfavor ingrese un  correo "
						validatorMessage="Ingrese un Correo Valido">
						<f:validateRegex
							pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
					</p:inputText>

					<f:facet name="footer">
						<p:commandButton value="Guardar" icon="pi pi-save"
							style="width:2rem, center" update="tabla"
							actionListener="#{beanProveedor.actionListenerInsertarProveedor()}"
							process="formE @this"></p:commandButton>
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<div>
			<p:staticMessage severity="info" summary="Administrar Proveedores"></p:staticMessage>
		</div>
		<h:form id="tabla">
			<p:dataTable class="card-panel grey lighten-5 z-depth-1"
				value="#{beanProveedor.listaProveedores}" var="d"
				emptyMessage="No ha ingresado Departamentos" paginator="true">
				<p:column headerText="RUC" style="width:6rem"
					filterBy="#{d.rucProveedor}" filterMatchMode="contains">
					<h:outputText value="#{d.rucProveedor}" />
				</p:column>
				<p:column headerText="NOMBRE" style="width:6rem"
					filterBy="#{d.nombre}" filterMatchMode="contains">
					<h:outputText value="#{d.nombre}" />
				</p:column>
				<p:column headerText="DIRECCIÓN" filterBy="#{d.direccion}"
					filterMatchMode="contains" style="width:10rem">
					<h:outputText value="#{d.direccion}" />
				</p:column>
				<p:column headerText="TELEFONO" style="width:6rem"
					filterBy="#{d.telefono}" filterMatchMode="contains">
					<h:outputText value="#{d.telefono}" />
				</p:column>
				<p:column headerText="CORREO" style="width:10rem"
					filterBy="#{d.correo}" filterMatchMode="contains">
					<h:outputText value="#{d.correo}" />
				</p:column>
				<p:column headerText="OPCIONES" style="width:8rem">
					<p:commandButton icon="pi pi-pencil" title="Editar"
						styleClass="rounded-button"
						action="#{beanProveedor.actionSeleccionarEdicionProveedor(d)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion">
					</p:commandButton>
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="rounded-button ui-button-danger" update="@form"
						actionListener="#{beanProveedor.actionListenerEliminarProveedor(d.rucProveedor)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este Proveedor" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			responsive="true" width="350">
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no ui-button-flat" />
			<p:commandButton value="Sí" type="button"
				styleClass="ui-confirmdialog-yes" />
		</p:confirmDialog>

		<p:dialog header="Edición Proveedores" showEffect="fade" modal="true"
			widgetVar="dialogoEdicion" responsive="true">
			<h:form id="formEdicion" class="ui-fluid">
				<p:panelGrid columns="2">
					<h:outputText value="RUC:" />
					<p:inputText value="#{beanProveedor.edicionProveedor.rucProveedor}"
						required="true" requiredMessage="Ingrese RUC" />
					<h:outputText value="Nombre:" />
					<p:inputText value="#{beanProveedor.edicionProveedor.nombre}"
						required="true" requiredMessage="Ingrese nombre" />
					<h:outputText value="Dirección:" />
					<p:inputText value="#{beanProveedor.edicionProveedor.direccion}"
						required="true" requiredMessage="Ingrese la Dirección" />
					<h:outputText value="Telefono:" />
					<p:inputText value="#{beanProveedor.edicionProveedor.telefono}"
						required="true" requiredMessage="Ingrese el Telefono" />
					<h:outputText value="Correo:" />
					<p:inputText value="#{beanProveedor.edicionProveedor.correo}"
						required="true" requiredMessage="Ingrese el Correo">
					</p:inputText>

					<f:facet name="footer">
						<p:commandButton value="Guardar" icon="pi pi-check" update="tabla"
							actionListener="#{beanProveedor.actionListenerActualizarEdicionProveedor()}"
							process="formEdicion @this" />
						<br />
						<p:commandButton value="Cancelar" icon="pi pi-times"
							class="ui-button-secondary" onclick="PF('dialogoEdicion').hide()" />
					</f:facet>
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</div>
</h:body>
</html>
