<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Reporte General</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:panelGrid columns="1">
				<h:outputText value="ORDENES DE COMPRAS:" />
			</p:panelGrid>
			<p:panelGrid columns="3">
				<h:outputText value="Ingrese un ID de Factura: " />
				<p:spinner id="basic" value="#{beanCompra.idCabCom}" min="1" />
				<p:commandButton value="Imprimir Compra" icon="pi pi-book"
					ajax="false" actionListener="#{beanCompra.actionReporteUnico()}" />
			</p:panelGrid>
			<p:panelGrid columns="1">
				<p:commandButton value="Imprimir Todos los Reportes"
					icon="pi pi-book" ajax="false"
					actionListener="#{beanCompra.actionReporte()}" />
			</p:panelGrid>


			<p:dataTable value="#{beanCompra.listaCompras}" var="b"
				emptyMessage="No hay registros aún." paginator="true" rows="30">
				<p:column headerText="ID" style="width:50px">
					<h:outputText value="#{b.idPrvCompraCabecera}" />
				</p:column>
				<p:column headerText="Ruc Proveddor">
					<h:outputText value="#{b.invProveedor.rucProveedor}" />
				</p:column>
				<p:column headerText="Nombre Proveedor">
					<h:outputText value="#{b.invProveedor.nombre}" />
				</p:column>
				<p:column headerText="Fecha">
					<h:outputText value="#{b.fechaCompra}" />
				</p:column>
				<p:column headerText="Total">
					<h:outputText value="#{b.totalCompra}">
						<f:convertNumber minFractionDigits="2" maxFractionDigits="2" />
					</h:outputText>
				</p:column>

			</p:dataTable>
		</h:form>
	</p:panel>
</body>
</html>
