<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-sacaleble=no" />
		<title>Clientes</title>
	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Facturas" icon="pi pi-users"
				action="#{beanFacturas.actionMenuVentas()}" />
			<p:menuitem value="Cliente" icon="pi pi-user-plus" action="cliente" />

			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Venta"></p:staticMessage>
	</h:form>
	<h:form>
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel header="Registro de nuevo cliente">
			<p:panelGrid columns="2">
				<h:outputText value="Cedula" />
				<p:inputText value="#{beanCliente.nuevoCliente.cedula}"
					required="true" requiredMessage="Ingrese Mensaje" maxlength="10"
					converterMessage="Porfavor ingrese solo digitos"
					validatorMessage="Ingrese una cedula de 10 digitos">
					<p:keyFilter mask="num" />
				</p:inputText>
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanCliente.nuevoCliente.nombre}"
					required="true" requiredMessage="Ingrese Nombre">
					<p:keyFilter regEx="/[a-zA-Z]/i" />
				</p:inputText>
				<h:outputText value="Direccion" />
				<p:inputText value="#{beanCliente.nuevoCliente.direccion}"
					required="true" requiredMessage="Ingrese Direccion">
					<p:keyFilter regEx="/[a-zA-Z]/i" />
				</p:inputText>
				<h:outputText value="Telefono" />
				<p:inputText value="#{beanCliente.nuevoCliente.telefono}"
					required="true" requiredMessage="Ingrese Telefono" maxlength="10"
					converterMessage="Porfavor ingrese solo digitos."
					validatorMessage="Ingrese un número de 10 digitos">
					<p:keyFilter mask="num" />
				</p:inputText>
				<p:commandButton value="Insertar" icon="pi pi-save"
					update="@form,:tabla"
					actionListener="#{beanCliente.actionListenerInsertarCliente()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<h:form id="tabla">
		<p:dataTable class="card-panel grey lighten-5 z-depth-1"
			value="#{beanCliente.listaClientes}" var="d"
			emptyMessage="No ha ingresado Departamentos" paginator="true">
			<p:column headerText="Cédula" style="width:6rem"
				filterBy="#{d.cedula}" filterMatchMode="contains">
				<h:outputText value="#{d.cedula}" />
			</p:column>
			<p:column headerText="NOMBRE">
				<h:outputText value="#{d.nombre}" />
			</p:column>
			<p:column headerText="DIRECCIÓN">
				<h:outputText value="#{d.direccion}" />
			</p:column>
			<p:column headerText="TELEFONO">
				<h:outputText value="#{d.telefono}" />
			</p:column>
			<p:column headerText="OPCIONES">
				<p:commandButton icon="pi pi-pencil" title="Editar"
					styleClass="rounded-button"
					action="#{beanCliente.actionSeleccionarEdicionCliente(d)}"
					oncomplete="PF('dialogoEdicion').show()" update=":formEdicion">
				</p:commandButton>
				<p:commandButton icon="pi pi-times-circle" title="eliminar"
					update="@form" styleClass="ui-button-danger"
					actionListener="#{beanCliente.actionEliminarCliente(d.cedula)}">
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
	<p:dialog header="Edición Clientes" showEffect="fade" modal="true"
		widgetVar="dialogoEdicion" responsive="true">
		<h:form id="formEdicion" class="ui-fluid">
			<p:panelGrid columns="2">
				<h:outputText value="Cedula:" />
				<p:inputText value="#{beanCliente.edicionCliente.cedula}"
					required="true" requiredMessage="Ingrese RUC" />
				<h:outputText value="Nombre:" />
				<p:inputText value="#{beanCliente.edicionCliente.nombre}"
					required="true" requiredMessage="Ingrese nombre" />
				<h:outputText value="Dirección:" />
				<p:inputText value="#{beanCliente.edicionCliente.direccion}"
					required="true" requiredMessage="Ingrese la Dirección" />
				<h:outputText value="Telefono:" />
				<p:inputText value="#{beanCliente.edicionCliente.telefono}"
					required="true" requiredMessage="Ingrese el Telefono" />
				<f:facet name="footer">
					<p:commandButton value="Guardar" icon="pi pi-check" update="tabla"
						actionListener="#{beanCliente.actionListenerActualizarCliente()}"
						process="formEdicion @this" />
					<br />
					<p:commandButton value="Cancelar" icon="pi pi-times"
						class="ui-button-secondary" onclick="PF('dialogoEdicion').hide()" />
				</f:facet>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>

