<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Facturación</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Facturas" icon="pi pi-users" action="Facturacion" />
			<p:menuitem value="Cliente" icon="pi pi-user-plus" action="cliente" />

			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Venta"></p:staticMessage>
	</h:form>
	<p:panelGrid columns="2">
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="Seleccione el cliente:" />
				<p:selectOneMenu value="#{beanFacturas.cedulaClienteSeleccionado}">
					<f:selectItem itemLabel="Seleccione el cliente..."
						noSelectionOption="true" />
					<f:selectItems value="#{beanFacturas.listaClientes}" var="c"
						itemLabel="#{c.nombre}" itemValue="#{c.cedula}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Seleccione Producto:" />
				<p:selectOneMenu value="#{beanFacturas.idProductoSeleccionado}">
					<f:selectItems value="#{beanFacturas.listaProductos}" var="p"
						itemLabel="#{p.descripcion}" itemValue="#{p.idProducto}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Fecha Venta:" />
				<p:calendar value="#{beanFacturas.fechaVenta}" />
				<h:outputText value="Cantidad:" />
				<p:spinner value="#{beanFacturas.cantidad}" min="1" max="20"
					size="2"></p:spinner>
				<h:outputText value="Ingrese costo por unidad" />
				<p:spinner value="#{beanFacturas.precio}" prefix="$" min="0"
					stepFactor="0.01" />
				<p:commandButton value="Agregar detalle venta" update=":form2"
					actionListener="#{beanFacturas.actionListenerAgregarDetalleVenta()}" />
				<p:commandButton value="Guardar Factura" icon="pi pi-save"
					update="@form:,:form2,:form3"
					actionListener="#{beanFacturas.actionListenerGuardarVentaMultiple()}"></p:commandButton>
			</p:panelGrid>

		</h:form>
		<h:form id="form2">
			<p:panelGrid columns="2">
				<p:dataTable value="#{beanFacturas.listaDetalleVentas}" var="d">

					<p:column headerText="Producto">
						<h:outputText value="#{d.producto}" />
					</p:column>
					<p:column headerText="Costo">
						<h:outputText value="#{d.costo}" />
					</p:column>
					<p:column headerText="Cantidad">
						<h:outputText value="#{d.cantidad}" />
					</p:column>
					<p:column headerText="Subtotal">
						<h:outputText value="#{d.subtotal}" />
						<f:facet name="footer">
							<h:outputText value="#{beanFacturas.total}" />
						</f:facet>
					</p:column>
				</p:dataTable>
			</p:panelGrid>
		</h:form>
	</p:panelGrid>
	<h:form id="form3">
		<p:dataTable value="#{beanFacturas.listaVentasCab}" var="m">
			<f:facet name="header">
				<h:outputText value="Facturas" />
			</f:facet>
			<p:column headerText="Cedula">
				<h:outputText value="#{m.vndCliente.cedula}" />
			</p:column>
			<p:column headerText="Cliente">
				<h:outputText value="#{m.vndCliente.nombre}" />
			</p:column>
			<p:column headerText="Subtotal">
				<h:outputText value="#{m.subtotal}" />
			</p:column>
			<p:column headerText="IVA 12%">
				<h:outputText value="#{m.iva}" />
			</p:column>
			<p:column headerText="Total">
				<h:outputText value="#{m.total}" />
			</p:column>
			<p:column headerText="OPCIONES">
				<p:commandButton value="Reporte" icon="pi pi-book" ajax="false"
					action="#{beanFacturas.actionReporte(m.idVndVentaCabecera)}">
				</p:commandButton>

			</p:column>
		</p:dataTable>
	</h:form>
</body>
</html>