<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Venta</title>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCliente.actionReporte()}" />
			<p:menuitem value="Facturas" icon="pi pi-users"
				action="#{beanFacturas.actionMenuVentas()}" />
			<p:menuitem value="Cliente" icon="pi pi-user-plus" action="cliente" />

			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						actionl="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Venta"></p:staticMessage>
	</h:form>
	<div>
		<p:panel>
			<h:form>
				<h:outputText value="Fecha inicio:" />
				<p:calendar value="#{beanFacturas.fechaInicio}" showTime="true" />
				<h:outputText value="Fecha fin:" />
				<p:calendar value="#{beanFacturas.fechaFin}" showTime="true" />
				<p:commandButton update="@form" value="Consultar" icon="pi pi-clock"
					actionListener="#{beanFacturas.actionListenerConsultarVenta()}" />
				<p:dataTable value="#{beanFacturas.listaVentasCabfech}" var="b"
					emptyMessage="No hay registros aún." paginator="true" rows="30">
					<p:column headerText="ID" style="width:50px">
						<h:outputText value="#{b.idVndVentaCabecera}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{b.fechaVenta}" />
					</p:column>
					<p:column headerText="Cliente">
						<h:outputText value="#{b.vndCliente.nombre}" />
					</p:column>
					<p:column headerText="Subtotal">
						<h:outputText value="#{b.subtotal}" />
					</p:column>
					<p:column headerText="IVA">
						<h:outputText value="#{b.iva}" />
					</p:column>
					<p:column headerText="Total">
						<h:outputText value="#{b.total}" />
					</p:column>

				</p:dataTable>
			</h:form>
		</p:panel>
	</div>
</body>
</html>
