<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Menú principal</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no,
			initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<div align="center">
		<h:form>
			<p:panel style="width:50%">
				<p:staticMessage severity="info" summary="SISTEMA MORA ANDINA :=)"
					style="width: 100%" />
				<p:dataView value="#{beanSegLogin.loginDTO.listaPerfiles}"
					var="perfil" layout="grid" gridIcon="pi pi-th-large"
					emptyMessage="No tiene perfiles asignados. Consulte al administrador.">
					<p:dataViewGridItem>
						<p:commandLink
							action="#{beanSegLogin.actionMenu(perfil.rutaAcceso)}">
							<p:panelGrid columns="1">
								<h:outputText value="#{perfil.segModulo.nombreModulo}" />
								<h:outputText value="#{perfil.nombrePerfil}" />
								<i class="#{perfil.segModulo.icono}" style="font-size: 2rem"></i>
							</p:panelGrid>
						</p:commandLink>
					</p:dataViewGridItem>
				</p:dataView>
			</p:panel>
		</h:form>
	</div>
</body>
</html>
